<div class="container-fluid">
  <div class="row">

    <!--    Display all the pets (matching filter) -->
    <div id="gallery" class="col-md-9">
      <div *ngIf="pets">
        <div *ngFor="let pet of pets | nameFilter: searchText" class="gallery">
          <div class="gallery-pet" (click)="selectPet(pet)" [ngClass]="{'active' : selectedPet === pet}">
            <div class="gallery-pet fader">
              <img class="profile-picture" [src]="'https://pettinder.herokuapp.com/'+ pet.image">
              <div class="overlay">
                <div class="overlay-text">{{pet.name}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--    Display the search bar for pet names -->
    <ng-container>
      <div class="col-md-3">
        <div class="gallery-detail">
          <section class="tiny-dialog">
            <h3>Find your pet</h3>
            <div class="form-group">
              <label for="name">Name</label>
              <input id="name"
                     name="name"
                     class="form-control"
                     placeholder="Name"
                     [(ngModel)]="searchText">
            </div>
          </section>

          <!--    Display the selected pet -->
          <ng-container *ngIf="selectedPet && (pets | nameFilter: searchText).includes(selectedPet)">
            <section id="petProfile" class="tiny-dialog fader">
              <h3>{{selectedPet.name}}</h3>
              <p>{{selectedPet.profileText}}</p>
              <p>Popularity: {{selectedPet.popularity}}</p>
            </section>
          </ng-container>
        </div>
      </div>
    </ng-container>

  </div>
</div>


